@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

html {
  font-family: Outfit, sans-serif;
  background-color: var(--color2);

  --color1: #ff3c46;
  --color2: #191925;
  --color22: #222234;
  --color3: #f6f6f7;
}

body {
  margin: 0;
}

a {
  color: var(--color3);
}

.container {
  margin-left: 100px;
  padding: 32px;
}

.input_field {
  display: flex;
  height: 40px;

  color: var(--color3);

  input {
    background-color: var(--color22);
    border: var(--color3) solid 2px;
    border-left: none;
    padding: 0 16px;

    font-family: outfit, sans-serif;
    color: var(--color3);
    font-size: 16px;
  }

  input:first-of-type {
    border-radius: 20px 0px 0px 20px;
    border-left: var(--color3) solid 2px;
  }

  input:focus {
    outline: none;
  }

  button {
    border-radius: 0 20px 20px 0;
    border: var(--color3) solid 2px;
    border-left: none;

    padding-right: 12px;

    background-color: #ff3c46;
    color: var(--color3);

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
